hr {
    background: linear-gradient(to right, #1dd8b6, #1c4eac);
    height: 3px;
}

.section-1 {
    background-color: #1DD2B1;
    color: white;
    padding: 5em 0em 5em 0em;
}

.section-3 {
    background-color: #315faa;
    color: white;
}
