/* You can add global styles to this file, and also import other style files */

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@font-face {
    font-family: 'Poppins-Medium';
    src: url('assets/fonts/Poppins-Medium.ttf') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('assets/fonts/Poppins-Light.ttf') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraLight.ttf') format('woff2');
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: 'Poppins';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins-Medium';
}
